.topbarContainer{
    height: 60px;
    width: 99vw;
    background-color: #BF3131;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;

    .topbarLeft{
        flex: 3;
        .logo{
            font-size: 25px;
            color: #FFF;
            margin-left: 20px;
            cursor: pointer;
        }
    }

    .topbarCenter{
        flex: 5;

        .searchBar{
            height: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #FFF;
            border-radius: 25px;
            padding: 0px 10px;

            .searchBarIcon{
                font-size: 25px;
            }

            .searchBarInput{
                border: none;
                width: 70%;
                outline: none;
            }
        }
    }

    .topbarRight{
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #FFF;

        .topbarLinks{
            display: flex;
            gap: 10px;
            
            .topbarLink{
                font-size: 16px;
                cursor: pointer;
            }
        }

        .topbarIcons{
            display: flex;
            
            .topbarIconItem{
                margin-right: 15px;
                cursor: pointer;
                position: relative;

                .topbarIconBadge{
                    width: 15px;
                    height: 15px;
                    background-color: #7D0A0A;
                    color: #FFF;
                    border-radius: 50px;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                }
            }
        }
        
        .topbarProfileImage{
            width: 30px;
            height: 30px;
            border-radius: 50px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}