.profile{
    display: flex;
    margin: 0px 200px;
    
    .profileContainer{
        display: flex;
        flex-direction: column;
        width: calc(100vw - 400px);
        margin: auto;
    }

}